html{
  margin: 20px

}
body{
  font-family: Helvetica;
  text-align: center;
}
.header{
  text-align: center;
  background-image: url("../images/the-flatiron-building.png");
  background-position: center;
  background-repeat: no-repeat;
}
h1, h2, h3{
  font-weight: bold;
}
h1{
  font-size: 70px;
  color: white;
}
.nav{
  font-size: 18px;
  color: white;
}
h2{
  font-size: 32px;
}
